<%- include partials/header.ejs%>

<%- include partials/main_nav.ejs%>

    <!-- Content Page Content -->
    <main class=" main_container">

          <div class="home_layout"> 
            <img class="home_bg_img" src="./Assets/images/background.jpg" alt="background image">
          </div>
          <h1 class="display-4 text-center p-4">Name: Jaivin James  [Portrait]</h1>
<div class="home-content">
  <p>“ I’m a B.Tech Graduate and currently pursuing my Diploma in AI. I have 3 years of work experience as Project Engineer at an MNC in India.”</p>   
  <p>Have a look at my Resume: <Button Download PDF></p>

</div>
    </main>
<%- include partials/bottom_nav.ejs%>
<%- include partials/footer.ejs%>