<%- include partials/header.ejs%>

<%- include partials/main_nav.ejs%>

    <!-- Content Page Content -->
    <main class=" main_container">

         
          <h1 class="display-4 text-center p-4">Contact Me</h1>
<div class="home-content">
  <p><span class="font-weight-bold">Name:</span> Jaivin James</p>
  <p><span class="font-weight-bold">Phone:</span> +91-9446533714</p>
  <p><span class="font-weight-bold">Email:</span> jaivinjames7@gmail.com</p>
  <p><span class="font-weight-bold">Github:</span> <a href="https://github.com/jaivinjames">https://github.com/jaivinjames</a></p>    

<br/>
<div>
  <p class="font-weight-bold">You can also leave me a message by filling the form below:</p>
<form action="/">
  <label for="email">Email:</label>
<input name="Email" placeholder="Email" type="text" id="email">
<label for="name">Name:</label>
<input name='Name' placeholder="Name" type="text" id="name">
<div>

  <textarea placeholder="Enter  your message" name="Message" id="msg" cols="30" rows="5"></textarea>
</div>
<button>submit</button>
</form>
</div>

</div>
    </main>
<%- include partials/bottom_nav.ejs%>
<%- include partials/footer.ejs%>