<%- include partials/header.ejs%>

<%- include partials/main_nav.ejs%>

    <!-- Content Page Content -->
    <main class=" main_container">

          <div class="home_layout"> 
            <img class="home_bg_img" src="./Assets/images/background.jpg" alt="background image">
          </div>
          <h1 class="display-4 text-center p-4">Jaivin James</h1>
<div class="home-content">
  <p>Phone: +91-9446533714</p>
  <p>Email: jaivinjames7@gmail.com</p>
  <p>Github : https://github.com/jaivinjames </p>    

</div>
    </main>
<%- include partials/bottom_nav.ejs%>
<%- include partials/footer.ejs%>