<%- include partials/header.ejs%>

<%- include partials/main_nav.ejs%>

    <!-- Content Page Content -->
    <main class=" main_container">

<div>
          <h1 class="display-4 text-center p-4">Jaivin James</h1>
        <div class="profile_photo">
         <img  class="home_bg_img" src="/Assets/images/Jaivin.jpg">
        </div>  
<div class="home-content">
<ul class="text-center">
<li>I’m a B.Tech Graduate and currently pursuing my Diploma in AI.</li>
<li>I have 3 years of work experience as Project Engineer at an MNC in India.</li>
</ul>

<p class="text-center">Have a look at my Resume: <a type="button" class="btn btn-dark" href="/Assets/Jaivin_Resume.pdf"download>Download PDF</a></p>

</div>
</div>

    </main>
<%- include partials/bottom_nav.ejs%>
<%- include partials/footer.ejs%>