<%- include partials/header.ejs%>

<%- include partials/main_nav.ejs%>

    <!-- Home Page Content -->
    <main class=" main_container">

          <div class="home_layout"> 
            <img class="home_bg_img" src="./Assets/images/background.jpg" alt="background image">
          </div>
          <h1 class="display-4 text-center p-4">Jaivin James</h1>
<div class="home-content">
  <p>“My mission is to integrate my technical and analytical skills to boost expertise in the field of Artificial Intelligence. My areas of interest are Computer vision and Deep Learning.”</p>
  <div class="homepage_links">
    <a href="/aboutMe">About Me</a>
  <a href="/contactMe">Contact Me</a>
  </div>
</div>
    </main>
    
<%- include partials/bottom_nav.ejs%>
<%- include partials/footer.ejs%>