<%- include partials/header.ejs%>

<%- include partials/main_nav.ejs%>

<!-- Main Content -->
<main class="container main_container">

  <div class="home_layout">
    <img class="home_bg_img" src="./Assets/images/services.jpg" alt="background image">
  </div>
  <div class="home-content">
    <div class="services">
      <h4>List of Services that I Offer :</h4>
      <ul>
        <li>Software Development</li>
        <li>Software Testing</li>
        <li>Technical Documentation</li>
        <li>Technical Support</li>

      </ul>
    </div>
  </div>
</main>

<%- include partials/bottom_nav.ejs%>
<%- include partials/footer.ejs%>